/* flex: [flex-grow] [flex-shrink] [flex-basis]; */

/* #region universalsetting */
*{
  margin: 0;
  user-select: none;
  font-size: var(--FontSizeGeneral);
  font-family:var(--FontFamilyGeneral);
}
hr{
  border: none;
}
h1{
  font-size: var(--h1FontSizeGeneral);
}


/* #endregion */

/* #region Variables */
:root{
  --FontFamilyGeneral:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  --FontSizeGeneral: 30px;
  --h1FontSizeGeneral: 60px;
  --BorderRadiusGeneral : 12px;

  /* #region ScrollBar */
  --gap-scrollbar: 15px;
  --paddingTop-scrollbar: 0px;
  --ScrollBarimage-Height: 500px;
  --ScrollBarimage-MaxWidth: 80%;
  /* #endregion */

  /* #region AboutUs */
  --AboutUs-BgColor: Pink;
  --AboutUs-TextColor: white;
  --AboutUs-Padding: 20px;
  --AboutUs-HrBgColor:white;
  /* #endregion */


  /* #region GeneralBannerVar */

  /* just for the id based navigation --> if you dont give it a bit of offset it kinda got blocked by the banner */
  [id] {
    scroll-margin-top: calc(var(--banner-height) + (var(--banner-paddingVertical) * 2) + 20px);
  }

  --offset-BannerTopText: 20px;
  --offset-BannerBottomText: 20px;

  --banner-height: 8vh;
  --banner-paddingVertical:20px;
  --banner-padding:var(--banner-paddingVertical) 0px;
  --color-banner-border-top: black;
  --outline-banner-border: 5px;
  /* #endregion */
  
  /* #region TopBannerVar */
  --color-banner-top : rgb(253 224 214);
  --color-banner-PawcareText : white;

  --logo1-height: 400px;
  --logo1-width :200px;
  --akun-height: 100px;
  --akun-width: 150px;
  --lokasi-height: 100px;
  --lokasi-width: 100px;

  --banner-top-h1-fontsize: 40px;
  --banner-top-h1-fonttype: Arial, Helvetica, sans-serif;
  /* #endregion */

  /* #region BottomBannerVar */
  --layanan-height: 80px;
  --layanan-width: 100px;
  --home-height: 100px;
  --home-width: 100px;
  --contact-height: 100px;
  --contact-width: 100px;

  --color-banner-bottom: rgb(253 224 214);
  --color-banner-border-bottom : black;
  /* #endregion */
  
  /* #region ContentWrapper */
  --ContentWrapperElementsTopBottomMargin : 30px;
  --color-ContentWrapperBG: rgb(255, 255, 255);
  --ContentWrapper-PaddingLeftRight: 30px;
  
  
  --hr-height:4px;
  --hr-bgcolor:black;
  --hr-marginTopBottom: 10px;

  --Color-Location-hr:white ;

  --Location-Padding: 20px; 
  --Location-BgColor: rgb(225, 45, 75);
  --Location-Padding: 20px;
  --Location-ElementMarginTop-Bottom: 10px;
  --Location-TextColor: white;

  --Contact-BgColor: rgb(191 78 56);  
  --Contact-TextColor:white;
  --Contact-Padding : 20px;
  --Contact-ElementMarginTopBottom: 10px;

  --Contact-WAcontainer-gap: 10px;
  --Contact-h1FontSize:40px;

  --FAQBgColor:pink;
  --FAQContentBgColor: yellow;
  --FAQContentTopBottomPadding: 20px;
  --FAQQuestionTopBottomPadding: 10px;
  /* #endregion */


}
/* #endregion */


/* #region cursor */
html, body, * {
  cursor: url('img/BearCursor.png'), auto;
  margin: 0;
}

a, a img, button, input, select, textarea, [role="button"] {
  cursor: url(img/BearCursorInteraction.png), auto;
}
/* #endregion */

/* #region AboutUs */
#AboutUs{
  background-color: var(--AboutUs-BgColor);
  color: var(--AboutUs-TextColor);
  border-radius: var(--BorderRadiusGeneral);
  padding: var(--AboutUs-Padding);
}
#AboutUs *{
  margin: 0;
}
#AboutUs hr{
  background-color: var(--AboutUs-HrBgColor);
}
.scroll-container {
    display: flex;
    gap: var(--gap-scrollbar);
    overflow-x: auto;
    padding-top: var(--paddingTop-scrollbar);
    /* scroll-behavior: smooth; */
    scroll-snap-type: x mandatory; 
    scrollbar-width: none;
}

.scroll-item {
    max-width: var(--ScrollBarimage-MaxWidth);
    height: var(--ScrollBarimage-Height);
    border-radius: var(--BorderRadiusGeneral);
    /* sembunyiin gmbbr yg lewat batas */
    overflow: hidden;
    flex-shrink: 0;            
    scroll-snap-align: start; 
}

.scroll-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
}

.grid-item {
    background: #2a2a2a;
    color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    font-family: sans-serif;
}

/* #endregion */




/* #region BannerTop */
#Banner {
  top: 0;
  position: fixed;
  display: flex;
  padding: var(--banner-padding);

  height: var(--banner-height);
  width: 100%;

  align-items: center;
  justify-content: space-between;
  /* gap: 4vw; */

  border-bottom: solid var(--color-banner-border-top) var(--outline-banner-border);
  z-index: 1000;

  flex-grow: 0;
  flex-shrink: 0;

  background-color: var(--color-banner-top);
  /* background-image: url(img/DogSlipper.jpg); */
  /* background-size: cover; */
  /* background-position: center; */
}
#Banner img#Logo1Img{
  width: var(--logo1-width);
  height: var(--logo1-height);
}
#Banner img#AkunImg{
  width: var(--akun-width);
  height: var(--akun-height);
}
#Banner img#LokasiImg{
  width: var(--lokasi-width);
  height: var(--lokasi-height);
}
#Banner h1{
  color: var(--color-banner-PawcareText);
  font-weight: bold;
  font-size: var(--banner-top-h1-fontsize);
  font-family: var(--banner-top-h1-fonttype);
}
/* #endregion */


/* #region BannerBottom */
#BannerBottom {
  bottom: 0;
  position: fixed;
  display: flex;
  padding: var(--banner-padding);

  height: var(--banner-height);
  width: 100%;
  
  align-items: center;
  justify-content: space-between;
  
  border-top: solid var(--color-banner-border-bottom) var(--outline-banner-border);
  z-index: 1000;
  
  background-color: var(--color-banner-bottom);
  flex-grow: 0;
  flex-shrink: 0;
  /* background-image: url(img/DogSlipper.jpg); */
  /* background-size: cover; */
  /* background-position: center; */
}
#BannerBottom{
  color: var(--color-banner-PawcareText);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#BannerBottom img#HomeImg{
  width: var(--home-width);
  height: var(--home-height);
}
#BannerBottom img#LayananImg{
  width: var(--layanan-width);
  height: var(--layanan-height);
}
#BannerBottom img#ContactImg{
  width: var(--contact-width);
  height: var(--contact-height);
}
/* #endregion */


/* #region ContentWrapper */

/* dont mind the math its just to make it easy to port into mobile, also why use padding its bcos if i try to put margin in the content wrapper the banner will somehow move */
/* as for why i dont just use margin top = 16vh it's cos of how this goddamm html worked, 0-> it affected the banner (position:fixed) for some reason so just bear with the padding */
.ContentWrapper{
  /* if you dont understand this shit just consider it as a kind of (we have a banner so we put all the web content inside this and we put padding so the content dont get overlaid by the banner) */
  padding-top: calc((calc(var(--banner-height) + calc(var(--banner-paddingVertical) * 2))) + var(--offset-BannerTopText));
  padding-bottom: calc((calc(var(--banner-height) + calc(var(--banner-paddingVertical) * 2))) + var(--offset-BannerBottomText));
  
  min-height: 100vh;

  background-color: var(--color-ContentWrapperBG);

  padding-left: var(--ContentWrapper-PaddingLeftRight);
  padding-right: var(--ContentWrapper-PaddingLeftRight);
}
.ContentWrapper *{
  margin: var(--ContentWrapperElementsTopBottomMargin) 0px;
}

.ContentWrapper hr{
  height: var(--hr-height);
  background-color: var(--hr-bgcolor);
  margin-top: var(--hr-marginTopBottom);
  margin-bottom: var(--hr-marginTopBottom);
}
.ContentWrapper #Contact hr{
  background-color: var(--Contact-TextColor);
}

/* #region Location */
#Location{
  background-color: var(--Location-BgColor);
  color: var(--Location-TextColor);
  padding: var(--Location-Padding);
  border-radius: var(--BorderRadiusGeneral);
}
#Location *{
  margin: var(--Location-ElementMarginTop-Bottom) 0px;
}
#Location hr{
  background-color: var(--Color-Location-hr);
}
/* #endregion */


/* #region Contact */
#Contact{
  background-color: var(--Contact-BgColor);
  color: var(--Contact-TextColor);
  padding: var(--Contact-Padding);
  border-radius: var(--BorderRadiusGeneral);
}
#Contact *{
  margin: var(--Contact-ElementMarginTopBottom) 0px;
}
#Contact a{
  color: var(--Contact-TextColor);
  /* text-decoration: none; */
}

#Contact h1{
  font-size: var(--Contact-h1FontSize);
}

#Contact .WAcontainer{
  display: flex;
  gap: var(--Contact-WAcontainer-gap);
}


/* #endregion */

/* #region FAQ */

#FAQ summary{
  background-color: var(--FAQBgColor);
  margin: 0px;
  padding: var(--FAQQuestionTopBottomPadding) 0px;
}

#FAQ p{
  padding: var(--FAQContentTopBottomPadding) 0px;
  margin: 0px;
  background-color: var(--FAQContentBgColor);
}
/* #endregion */



/* #endregion */
